@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  --primary: hsl(256, 26%, 20%);
  --secondary: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

h1,
h3 {
  font-family: 'DM Serif Display', sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  border-bottom: 0.3rem solid #000;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: 0.2rem solid var(--light-gray);
  background: var(--dark-violet);
  color: var(--light-gray);
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.btn:hover,
.btn:focus {
  background: var(--light-gray);
  color: var(--dark-violet);
}

.nav {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  cursor: pointer;
}

.close {
  display: none;
}

.nav-toggle .open.visible {
  display: none;
}

/* When the menu is open, then the close icon will become visible */
.nav-toggle .open.visible + .close {
  display: block;
}

.nav-list {
  background: var(--dark-violet);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
  right: 0;
  width: 100%;
  height: 65vh;
  padding: 3rem 1rem;
  /* display: none; */
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
  z-index: 2;
}

.nav-list.visible {
  /* display: block; */
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.nav-list-item {
  margin-bottom: 5rem;
}

.nav-link {
  font-size: 2rem;
  color: var(--light-gray);
  padding: 1rem 6rem;
}
.nav-link:hover,
.nav-link:focus {
  border-bottom: 0.3rem solid var(--light-gray);
}

.hero-section {
  background: var(--primary);
  color: var(--light-gray);
  position: relative;
}

.hero-section .container {
  width: 100%;
}

.hero-img {
  height: 50vh;
  background: url('./images/image-intro-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero-img img {
  display: none;
}

.hero-content {
  padding: 10rem 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 4.6rem;
  padding-bottom: 2rem;
}

.hero-content p {
  color: #e2e2e2;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.features-section {
  margin-top: 15rem;
  position: relative;
}

.feature-header {
  text-align: center;
}

.feature-header::before {
  content: '';
  display: block;
  width: 50%;
  margin: 0 auto 3rem auto;
  border-top: 0.1rem solid var(--secondary);
}

.feature-header h1 {
  color: var(--primary);
  font-size: 4.6rem;
  margin-bottom: 8rem;
}

.features {
  text-align: center;
}

.feature,
.icon {
  margin: 3rem 0;
}

.feature h3 {
  color: var(--primary);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.feature p {
  line-height: 1.5;
}

.card {
  background: var(--primary);
  color: var(--light-gray);
  padding: 3rem 2rem;
  margin: 10rem auto;
  text-align: center;
}

.card h1 {
  font-size: 4rem;
}

.card button {
  margin: 4rem 0;
}

.card-pattern {
  display: none;
}

.footer {
  background: var(--light-gray);
  padding: 8rem 0;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.social-list-item {
  margin: 0 1rem;
}

.footer-navs::before {
  content: '';
  display: block;
  width: 90%;
  margin: 0 auto 3rem auto;
  border-top: 0.1rem solid var(--secondary);
}

.footer-nav {
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.footer-nav h4 {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.footer-nav-list-item {
  margin-bottom: 1.6rem;
}

.footer-pattern {
  display: none;
}

.attribution a {
  color: var(--dark-violet);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    transform: translateX(0);
    position: relative;
    top: 0;
    width: auto;
    background: none;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-list-item {
    margin: 0 1rem;
  }

  .nav-link {
    font-size: 1.5rem;
    color: var(--primary);
    padding: 1rem;
  }
  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 0.3rem solid var(--primary);
  }

  .nav-list-item .btn {
    background: #fff;
    border: 0.3rem solid var(--primary);
  }
  .nav-list-item .btn:hover,
  .nav-list-item .btn:focus {
    background: var(--primary);
    color: var(--light-gray);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    width: 80%;
  }

  .nav-link {
    padding: 1rem 3rem;
  }

  .hero-section {
    position: relative;
  }

  .hero-section .container {
    width: 80%;
    display: flex;
    padding-top: 10rem;
  }

  .hero-img {
    order: 2;
    height: 0;
    background: none;
  }

  .hero-img img {
    display: block;
    width: 100%;
  }

  .hero-content {
    order: 1;
    text-align: left;
    margin-right: 3rem;
    position: relative;
  }

  .hero-content::before {
    content: '';
    position: absolute;
    width: 20%;
    top: 5rem;
    border-top: 0.1rem solid var(--light-gray);
  }

  .hero-content h1 {
    font-size: 6rem;
  }

  .left-pattern {
    background: url('./images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45rem;
    left: 0;
  }

  .right-pattern {
    background: url('./images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -110rem;
    top: 0;
  }

  .features-section {
    margin-top: 40rem;
  }

  .features-section.container,
  .card.container {
    width: 80%;
  }

  .feature-header {
    text-align: left;
  }

  .feature-header::before {
    content: '';
    display: block;
    width: 15%;
    margin: 0 0 5rem;
    border-top: 0.1rem solid var(--secondary);
  }

  .feature-header h1 {
    font-size: 6rem;
  }

  .features {
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .feature {
    margin-left: 2rem;
  }

  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 1rem;
    position: relative;
  }

  .card h1 {
    font-size: 6rem;
  }

  .card button {
    position: relative;
    z-index: 2;
  }

  .card-pattern {
    display: block;
    position: absolute;
    background: url('./images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 32vh;
    top: 0;
    left: 64%;
    z-index: 0;
  }

  .footer {
    position: relative;
    z-index: 2;
  }

  .footer .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .logo {
    position: relative;
    z-index: 2;
  }

  .footer-navs {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .footer-navs .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-pattern {
    display: block;
    position: absolute;
    background: url('./images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 0;
  }
}
